<div id="header">
  <img src="assets/img/circles.png" class="circles" alt="circles">
  <img src="assets/img/itk.png" class="logo" alt="Integrative Touch for Kids">
  <div id="carousel-itk" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="assets/img/sponsor1-320x160-white.jpg" alt="">
      </div>
      <div class="item">
        <img src="assets/img/sponsor2-320x160-white.jpg" alt="">
      </div>
      <div class="item">
        <img src="assets/img/sponsor3-320x160-white.jpg" alt="">
      </div>
      <div class="item">
        <img src="assets/img/sponsor4-320x160-white.jpg" alt="">
      </div>
      <div class="item">
        <img src="assets/img/sponsor5-320x160-white.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div [@slideInOut]="slideState" (@slideInOut.done)="animationDone($event)" style="padding:10px">
  <table *ngIf="endIdx > 0" [ngStyle]="{'font-size': fsize + 'px'}">
    <thead>
      <tr>
        <th>Item #</th>
        <th>Item Name</th>
        <th>Value</th>
        <th>Current Bid</th>
        <th>High Bidder</th>
      </tr>
    </thead>
    <tbody>

      <ng-container *ngFor="let itemClient of fileData; let idx = index">
        <tr *ngIf="idx >= startIdx && idx < endIdx">
          <td width=1>{{itemClient.item.number}}</td>
          <td>{{itemClient.item.name}}</td>
          <td width=1>${{itemClient.item.value}}</td>
          <td width=1>${{itemClient.item.currentBid}}</td>
          <td *ngIf="itemClient.client">#{{itemClient.client.number}} {{itemClient.client.lname}}</td>
          <td *ngIf="!itemClient.client"></td>
        </tr>
      </ng-container>

    </tbody>
  </table>
<div>
